body {
	background-color: #232323;
	font-family: cursive;
	margin: 0;
}

h1 {
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	background: steelblue;
	text-align: center;
	letter-spacing: 1px;
	padding: 20px 0;
	line-height: 1.1;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	color: steelblue;
	height: 100%;
	font-size: inherit;
	font-family: cursive;
	letter-spacing: 1px;
	transition: 0.3s;
	font-weight: 700;
}

button:hover {
	color: white;
	background: steelblue;
}

#stripe {
	background: white;
	max-height: 100px;
	text-align: center;
	color: black;
}

#rgb {
	font-size: 200%;
}

#res {
	width: 20%;
	display: inline-block;
	color: steelblue;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

.square {
	width: 30%;
	float: left;
	margin: 1.66%;
	background: purple;
	padding-bottom: 30%;
	border-radius: 15%;
	transition: background 0.6s;
}

.selected {
	color: white;
	background: steelblue;
}