body{
	border: 20px solid rgba(90, 18, 100, 0.45);
	margin: 20px auto;
	width: 70%;
	padding-left: 15px;
	max-width: 600px;
}

.date{
	letter-spacing: 0.4rem;
	text-transform: uppercase;
	color: #3498db;
}

.post{
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

h2{
	font-family: anton;
}
div{
	border-bottom: 2px ridge rgba(22,203,231,0.19);
}

div p{
	font-family: open sans condensed;
}
